# This file tells Git which files shouldn't be added to source control

.idea
dist
node_modules
apify_storage
crawlee_storage
storage
.DS_Store
.claude

data
/data/llms/
/data/indexes/

!package.json
!bun.lock
!tsconfig.json
!repomix.config.json

# any output from the crawler
.env


# generated
configurations/index.ts